.main{
    display: flex;
    /* margin-top: 5vh; */
    height: 90px;
    color: white;
    background-color: black;
    justify-content: space-evenly;
    padding-top: 8vh;
    font-family: 'Urbanist', sans-serif;
    width: 100%;
    margin: 0;
    align-items: center;
    padding-top:0;
    position:fixed;
    bottom:0
    /* border-radius: 10px; */

}


.column{
    padding-top:5px;
    width: 1;
}

.name{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.icons{
    color: white;
    text-decoration: none;
    padding-top: 4px;
}

.icon{
    font-size: 35px;
    color: #3ebdf5;
    text-decoration: none;
}

/* /* .mainText{
    width: 30%;
    font-size: 30px;
}


.column2{
    width: 15%;
} */
