
#profile-button{
    height: 2.5rem;
    width: 2.5rem;
    cursor:pointer;
    border:none;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    position: absolute;
    right: 7rem;
    top: .8rem ;
    border-radius: 7px;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
}



