
.mapboxgl-control-container{
    position:fixed;
    left:0;
    top:100px;
}
.map-container {
    height:100%;
    z-index: 0.9;
}

.mapboxgl-canvas-container{
    height:100%;
    z-index: 0.9;
}

#create-route-page{
height:95%;
width:100%;
}

#left-side{
    position:fixed;
    left:0;
}

/* .marker {
    background-image: url('../../images/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  } */


  #create-route-submit{
      position:fixed;
        z-index:1;
        top:234px;
        left:8px;
        border-radius: 15px;
        border:none;
        background-color: black;
        color:grey;
        cursor: pointer;
        width:285px;
        height:25px;
  }

  #create-route-submit:hover{
      color:white;
  }

.directions-control-instructions{
    margin-top:40px;
    /* background-color: black; */
}
